/* Nafbar */
html {
 height: 3000px;
}
.navbar {
    background-color: white;
    box-shadow: 0 0 6px rgba(0, 0, 0, 25);
    animation: awalmasuk 3ms 1ms;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}
.navbar-nav {
    font-weight: 500;
}

section {
    padding-top: 128px;
    position: relative;
}

.Home h1{
    font-size: 72px;
}
.Home h3{
    font-size: 48px;
}
.Home .btn:hover{
    border: 2px solid black;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 5px 43px;
    margin-top: 1rem;

}
/* end navbar */

/* bagian home / hero */
.btn {
    border: 2px solid black;
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 5px 43px;
    margin-top: 1rem;
}

#more-info a{
    color: black;
    font-weight: 600;
}

#more-info img{
    width: 50px;
    padding-top: 10px;
    animation: 1.5s awalmasuk infinite;
}

#more-info {
    display: flex;
    align-items: center;
    margin-top: 63px;
    
}
.Home img{
    width: 100%;
}
/* end home / hero */


/* about */
.about-exp-item-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70PX
}

.about::before{
    content: 'About';
}
section::before {
    z-index: -1;
    content: '';
    font-size: 72px;
    color: gray;
    opacity: 0.65;            
    font-weight: 600;
    position: absolute;
    top: 20px;
    left: -60px;
    
}

.about-exp-item-detail {
    display: none;
}

.btn.button {
    border: 2px solid rgb(5, 5, 5);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.btn.button:hover, .btn.button.active {
    border: 2px solid black;
    background-color: black;
    color: white;
}

/* Work */
.work::before{
    content: 'Work';
}
section::before {
    z-index: -1;
    content: '';
    font-size: 72px;
    color: gray;
    opacity: 0.65;            
    font-weight: 600;
    position: absolute;
    top: 20px;
    left: -60px;
    
}

.work-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "work-1 work-2" "work-3 work-3";
    gap: 1rem;
}

.work-img-item{
    position: relative;
}
.work-img-item:hover:after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 24px;
    
}
#work-1{
    grid-area: work-1;
}
#work-1:hover:after{
    content: 'Sofware Project';
}
#work-2{
    grid-area: work-2;
}
#work-2:hover:after{
    content: 'Sofware Project';
}
#work-3{
    grid-area: work-3;
}
#work-3:hover:after{
    content: 'Sofware Project';
}
/* end work */

/* contact */
.contact{
    padding-bottom: 32px;
}
.contact:before{
    content: 'Contact';
}
.contact-form {
    border: 1px solid black;
    padding: 64px 32px;
}

.form-label{
    font-weight: 500;
}
/* end contact */
/* keyframe */
@keyframes awalmasuk {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(10px);
    }
    0% {
        transform: translateY(0);
    }
}

@media only screen and (max-width: 768px){
    .Home img{
        width: 60%;
        margin-bottom: 32px;
    }
}

@media only screen and (max-width: 450px){
    .Home div h3{
        font-size: 30px;
    }
    .Home div h1{
        font-size: 45px;
        margin-bottom: 16px;
    }
    .Home div p{
        font-size: 14px;
        text-align: center;
    }
    .Home .Home-btn{
        text-align: center;
    }
    .about p{
        font-size: 16px;
        padding: 32px 24px;
        text-align: center;

    }
    section::before{
        font-size: 50px;
        position: absolute;
        top:80px;
        left: 20px;
    }
    .about-exp-item-header h5{
        font-size: 19px;
        font-weight: 700;
        padding: 10px 32px;
    }
    .about-exp-item-header p{
        margin-top: 10px;
    }

    .about-exp-item-header .btn{
        height: 35px;
        font-display: flex;
        
    }
    .work .col p{
        font-size: 16px;
        padding: 32px 20px;
        text-align: center;
    }

    .work .work-img {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .work .work-img #work-3{
        width: 100%;
    }
    .contact div p{
        font-size: 16px;
        padding: 32px 20px;
        text-align: center;
    }
    .grup-img-contact{
        display: flex;
        flex-direction: column;
        padding: 32px 60px;
    }
    .form-luar{
        padding: 16px 36px;
    }
}